[build]
  base    = "front"
  command = "ng build --configuration production"
  publish = "front/dist/plantilla1"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"
