<!-- <aside class="main-sidebar sidebar-dark-danger elevation-4" *ngIf="tokenService.rolAdmin() || tokenService.rolDocente()"> -->
<!-- <aside class="main-sidebar sidebar-dark-danger elevation-4"> -->
<!-- Brand Logo -->

<!-- <a>
        <img src="../../assets/img/imag44.png" alt="Nuevos medios" class="brand-image elevation-2" style="opacity: .9 ; width: 100%;">
    </a> -->

<!-- <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a class="d-block" *ngIf="tokenService.rolAdmin()">Administrador</a>
                <a class="d-block" *ngIf="tokenService.rolDocente()">Docente</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" *ngIf="tokenService.rolAdmin()">
                    <a [routerLink]="['/categorias']" class="nav-link">
                        <p>Categoría</p>
                    </a>
                </li>
                <li class="nav-item user-panel mt-3 pb-3 mb-3 d-flex" *ngIf="tokenService.rolAdmin() || tokenService.rolDocente()">
                    <a [routerLink]="['/contenidos']" (click)="vengoDeContenido()" class="nav-link">
                        <p>Contenidos</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</aside> -->